@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}

::selection {
  color: #fff;
  background-color: #4cd137;
}

.heading-secondary {
  font-family: "PT Sans", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.heading-secondary::after {
  content: '';
  display: block;
  width: 6rem;
  height: 0.3rem;
  margin: 0 auto;
  background-color: #4cd137;
}

.u-contenedor {
  max-width: 120rem !important;
  width: 95% !important;
  margin: 0 auto !important;
}

.u-text-center {
  text-align: center !important;
}

.banner {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.banner--1 {
  background-position: center;
  background-image: linear-gradient(to left bottom, rgba(76, 209, 55, 0.6), rgba(255, 255, 255, 0.6)), url(../img/banner1-big.jpg);
}

.banner--2 {
  background-position: top;
  background-image: linear-gradient(to left bottom, rgba(76, 209, 55, 0.6), rgba(255, 255, 255, 0.6)), url(../img/banner2-big.jpg);
}

.banner--3 {
  background-position: center;
  background-image: linear-gradient(to left bottom, rgba(76, 209, 55, 0.6), rgba(255, 255, 255, 0.6)), url(../img/banner3-big.jpg);
}

.button--up {
  position: fixed;
  right: 3.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  color: #fff;
  background-color: #4cd137;
  border-radius: 1rem;
  border: none;
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.button--active {
  bottom: 3.5rem;
  opacity: 1;
}

.button--active:hover {
  transform: translateY(-0.5rem);
}

.information {
  padding: 0.5rem 0;
  background-color: #4cd137;
  font-size: 1.4rem;
}

.information__details {
  display: flex;
  justify-content: space-between;
}

.information__details-item {
  list-style: none;
  color: #d4f4cf;
}

.information__details-item:not(:last-child) {
  margin-right: 10rem;
}

.information__details-item span {
  font-weight: 700;
  color: #fff;
}

.information__social {
  display: flex;
}

.information__social-item {
  list-style: none;
}

.information__social-item:not(:last-child) {
  margin-right: 3rem;
}

.information__social-link {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.information .u-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slider__btn {
  position: absolute;
  top: 36%;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 3rem;
  font-size: 2rem;
  color: #4cd137;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.slider__btn:focus {
  outline: none;
}

.slider__btn--left {
  left: 5%;
}

.slider__btn--left:hover {
  transform: translateX(-0.3rem);
}

.slider__btn--right {
  right: 5%;
}

.slider__btn--right:hover {
  transform: translateX(0.3rem);
}

.slider__btn:hover {
  background-color: rgba(76, 209, 55, 0.4);
  color: #fff;
}

.header {
  height: 100vh;
  overflow: hidden;
}

.nav {
  padding: 1rem 0;
  background-color: #fff;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 9rem;
}

.nav__link:link, .nav__link:visited {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  transition: all 0.4s ease;
}

.nav__link:hover, .nav__link:active {
  color: #4cd137;
}

.nav__link:focus {
  outline: none;
}

.nav__link--active {
  color: #4cd137 !important;
}

.nav__logo {
  height: 8rem;
  width: auto;
  transition: all 0.4s ease;
}

.nav--sticky {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  box-shadow: 0 0.5px 1px rgba(76, 209, 55, 0.8);
}

.nav--sticky .nav__link {
  font-size: 1.2rem;
}

.nav--sticky .nav__logo {
  height: 6rem;
}

.nav .u-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.section {
  padding: 8rem 0;
}
