// TYPOGRAPHYES
$typography: 'Oswald', sans-serif;

// SIZES
// typography
$font-default: 1.6rem;

// COLORS
$white-color: #fff;
$black-color: #222831;
$primary-color: #4cd137;
$primary-color-light: #d4f4cf;
