.information {
  padding: 0.5rem 0;
  background-color: $primary-color;
  font-size: 1.4rem;

  @include responsive(tab-hor) {
    position: fixed;
    right: -100%;
    top: 15rem;
    z-index: 500;
    width: auto;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;

    &--active {
      right: 0;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    @include responsive(tab-hor) {
      flex-direction: column;
    }

    &-item {
      list-style: none;
      color: $primary-color-light;
      &:not(:last-child) {
        margin-right: 10rem;
      }
      span {
        font-weight: 700;
        color: $white-color;
      }
    }
  }
  &__social {
    display: flex;

    &-item {
      list-style: none;
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    &-link {
      text-decoration: none;
      font-size: 2rem;
      color: $white-color;
    }
  }
}

.information .u-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(tab-hor) {
    flex-direction: column;
    align-items: flex-start;
  }
}
